// 顏色
$main-white-text: #EBEAEA;
$main-white-opcity-text: rgba(255, 255, 255, 0.14);
$main-white-999: #999;
$main-white-555: #555;
$main-white-333: #333;
$main-white-aaa: #aaa;
$main-gray-text: #506d8bc9;
$main-blue-text: #2c3e50;
$main-common-blue-text: #07111B;
$main-light-blue-text: rgb(57, 78, 100);
$main-red-text: #8A0B14;
$main-brow-text: #aa8243;
$main-light-brow-text: #c7994f;
$main-bg-url: '~@/assets/images/all/bg01.jpg';
$main-grayBg-url: '~@/assets/images/all/bg02.png';
// 排版
$main-margin-top: 110px;