
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-facebook-rect:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-line:before { content: '\e806'; } /* '' */
.icon-mobile:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-cancel-circled:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-article-alt:before { content: '\e80e'; } /* '' */
.icon-ccw:before { content: '\e80f'; } /* '' */
.icon-stopwatch:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-dot:before { content: '\e814'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
